.bootstrapSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.EquipmentsContainer {
  display: flex;
  flex-direction: row;
}
.Equipment-card {
  cursor: pointer;
  transition: 0.5s;
}
.Equipment-card img:hover {
  transform: scale(1.25);
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0px 5px 10px black;
}
body {
}
